<app-home></app-home>

<div class="panel panel-info col-lg-6 offset-lg-3 mt-2 mb-5">
  <div class="panel-heading bg-inf text-center p-2 border border-primary rounded-top rounded-bottom"><h2>{{offer?.title}}</h2></div>
  <div class="panel-body p-2 border border-primary rounded-top rounded-bottom">
    <h4>Opis:</h4>
    {{offer?.description}}
    <br/> <br/>
    <h4>Cena:</h4>
    {{offer?.price}}
    <br/> <br/>
    <h4>Data utworzenia oferty:</h4>
    {{offer?.createDate | date:'medium'}}
    <br/> <br/>
      
    <div *ngIf=retrievedImage>
      <h4>Zdjęcie:</h4>
      <img [src]="retrievedImage">
    </div>

    <p #reservedStatus class="text-danger mt-3"></p>

    <button #orderButton type="button" (click)="orderProduct()" class="btn btn-primary btn-lg btn-block mt-5">Zamów</button>
  </div>
</div>






