<app-home></app-home>
<br/> <br/>

<div class="panel panel-default col-lg-6 offset-lg-3">
  <div class="panel-heading">
    <h3 class="panel-title">{{'CREATE_OFFER.TITLE' | translate}}</h3>
  </div>

  <div class="panel-body">
      <form [formGroup]="createForm" #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)">
        <div class="form-group">
          <label for="title">{{'CREATE_OFFER.TITLE_OFFER' | translate}}</label>
          <input type="text" class="form-control" name="title" placeholder="{{'CREATE_OFFER.TITLE_OFFER_EXAMPLE' | translate}}" formControlName="title">
          <span *ngIf="title!.invalid">{{'CREATE_OFFER_WARNING.TITLE' | translate}}</span>
        </div>

        <div class="form-group">
          <label for="description">{{'CREATE_OFFER.DESCRIPTION_OFFER' | translate}}</label>
          <textarea class="form-control" name="description" rows="3" placeholder="{{'CREATE_OFFER.DESCRIPTION_OFFER_EXAMPLE' | translate}}" formControlName="description"></textarea>
          <span *ngIf="description!.invalid">{{'CREATE_OFFER_WARNING.DESCRIPTION' | translate}}</span>
        </div>

        <div class="form-group">
          <label for="price">{{'CREATE_OFFER.PRICE_OFFER' | translate}}</label>
          <input type="number" class="form-control" name="price" placeholder="{{'CREATE_OFFER.PRICE_OFFER_EXAMPLE' | translate}}" formControlName="price">
          <span *ngIf="price!.invalid">{{'CREATE_OFFER_WARNING.PRICE' | translate}}</span>
        </div>

        <div class="form-group">
          <input type="file" (change)="onFileChanged($event)">
        </div>

        <div class="form-group">
          <label for="category">{{'CREATE_OFFER.CATEGORY_OFFER' | translate}}</label>
          <select  name="category" class="form-select" style="width: 100%;" formControlName="category">
            <option  *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
          </select>
          <span *ngIf="category!.invalid">{{'CREATE_OFFER_WARNING.CATEGORY' | translate}}</span>
        </div>
        

        <button #submitButton type="submit" class="btn btn-primary" [disabled]="!createForm.valid">{{'CREATE_OFFER.SUBMIT_OFFER' | translate}}</button>
      </form>
      <p #createOfferStatus style="text-align: center; color: red;">{{status|translate}}</p>
  </div>
</div>

<br/> <br/>
<app-footer></app-footer>