<app-home></app-home>
<br/> <br/>

<div class="panel panel-default col-lg-6 offset-lg-3">
  <div class="panel-heading">
    <h3 class="panel-title">Stwórz oferte</h3>
  </div>

  <div class="panel-body">
      <form [formGroup]="createForm" #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)">
        <div class="form-group">
          <label for="title">Tytuł</label>
          <input type="text" class="form-control" name="title" placeholder="Motocykl suzuki ..." formControlName="title">
          <span *ngIf="title!.invalid">Tytuł musi mieć od 3 do 50 znaków</span>
        </div>

        <div class="form-group">
          <label for="description">Opis</label>
          <textarea class="form-control" name="description" rows="3" placeholder="Przebieg 20000km, wymienione..." formControlName="description"></textarea>
          <span *ngIf="description!.invalid">Opis musi składać się od 15 do 400 znaków!</span>
        </div>

        <div class="form-group">
          <label for="price">Cena</label>
          <input type="number" class="form-control" name="price" placeholder="12300" formControlName="price">
          <span *ngIf="price!.invalid">Cena musi być większa od 0!</span>
        </div>

        <div class="form-group">
          <input type="file" (change)="onFileChanged($event)">
        </div>

        <div class="form-group">
          <label for="category">Kategoria</label>
          <select  name="category" class="form-select" style="width: 100%;" formControlName="category">
            <option  *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
          </select>
          <span *ngIf="category!.invalid">Wybierz!</span>
        </div>
        

        <button #submitButton type="submit" class="btn btn-primary" [disabled]="!createForm.valid">Dodaj</button>
      </form>
      <p #createOfferStatus style="text-align: center; color: red;"></p>
  </div>
</div>

<br/> <br/>
<app-footer></app-footer>