<h2>Użytkownik modyfikacja - admin</h2>
<a routerLink="/showAllUsers">Wróć do wszystkich użytkowników</a> <br/> <br/>

Id użytkownika: {{user?.id}} <br/> 
Nazwa użytkownika: {{user?.username}} <br/>
Email użytkownika: {{user?.email}} <br/>
Rola użytkownika: {{user?.role}} <br/> <br/>

<form #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)">
  <select ngModel name="role">
    <option selected>ROLE_USER</option>
    <option>ROLE_ADMIN</option>
  </select>
  <button type="submit">Zmień rolę użytkownika</button>
</form>
