<app-home></app-home>

<div class="panel panel-default col-lg-6 offset-lg-3 mt-5">
  <div class="panel-heading">
    <h3 class="panel-title">{{'COMMENT.TITLE' | translate}}</h3>

    <h5>{{'COMMENT.TITLE_OFFER' | translate}} {{offerToComment?.titleOffer}}</h5>
    <h5>{{'COMMENT.SALLERY' | translate}} {{offerToComment?.usernameSeller}}</h5>
    <h5>{{'COMMENT.DATE_BUY' | translate}} {{offerToComment?.dateTime | date:'medium'}}</h5>

  </div>

  <div class="panel-body mt-3">
      <form [formGroup]="commentGroup" #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)">

        <div class="form-group">
          <label for="comment">{{'COMMENT.COMMENT_TITLE' | translate}}</label>
          <textarea class="form-control" name="comment" rows="3" placeholder="{{'COMMENT.COMMENT_EXAMPLE' | translate}}" formControlName="comment"></textarea>
          <span *ngIf="comment!.invalid" style="color: red;">{{'COMMENT.COMMENT_ERROR' | translate}}</span>
        </div>
        
        <div class="form-group">
          <label for="mark">{{'COMMENT.MARK_TITLE' | translate}}</label>
          <select  name="mark" class="form-select" style="width: 100%;" formControlName="mark">
            <option  *ngFor="let item of createRange(5)">{{item}}</option>
          </select>
          <span *ngIf="mark!.invalid" style="color: red;">{{'COMMENT.MARK_ERROR' | translate}}</span>
        </div>
        

        <button #submitButton type="submit" class="btn btn-primary" [disabled]="!commentGroup.valid">{{'COMMENT.SUBMIT' | translate}}</button>
        <p>{{status|translate}}</p>
      </form>
  </div>
</div>