<app-home></app-home>
<br/>

<div class="panel panel-default col-lg-6 offset-lg-3">
  <div class="panel-heading">
    <h3 class="panel-title">Zmiana hasła</h3>
  </div>

  <div class="panel-body">
      <form [formGroup]="passwordForm" #changePassword="ngForm" (ngSubmit)="onSubmitPassword(changePassword.value)">
        <div class="form-group">
          <label for="passwordNew">Nowe hasło</label>
          <input #passwordNew type="password" class="form-control"  name="passwordNew" placeholder="Podaj nowe hasło" formControlName="passwordNew">
        </div>

        <div class="form-group">
          <label for="passwordNewRepeat">Powtórz nowe hasło</label>
          <input #passwordNewRepeat type="password" class="form-control" name="passwordNewRepeat" placeholder="Powtórz nowe hasło" formControlName="passwordNewRepeat">
        </div>

        <div class="form-group">
          <label for="password">Aktualne hasło</label>
          <input #password type="password" class="form-control"  name="password" placeholder="Podaj aktualne hasło" formControlName="password">
        </div>

        <button type="submit" class="btn btn-primary">Zmień</button>
      </form>
      <p #changePasswordStatus style="text-align: center; color: red;"></p>
  </div>
</div>

<div class="panel panel-default col-lg-6 offset-lg-3">
  <div class="panel-heading">
    <h3 class="panel-title">Zmiana adresu email</h3>
  </div>

  <div class="panel-body">
      <form [formGroup]="emailForm" #changeEmail="ngForm" (ngSubmit)="onSubmitEmail(changeEmail.value)">
        <div class="form-group">
          <label for="email">Nowy adres email</label>
          <input #email type="email" class="form-control" name="email" placeholder="Podaj nowy adres email" formControlName="email">
        </div>

        <div class="form-group">
          <label for="password">Hasło</label>
          <input #passwordEmail type="password" class="form-control"  name="password" placeholder="Podaj hasło" formControlName="password">
        </div>

        <button type="submit" class="btn btn-primary">Zmień</button>
      </form>
      <p #changeEmailStatus style="text-align: center; color: red;"></p>
  </div>
</div>

<br/>
<br/>
<app-footer></app-footer>