<header>
  <nav class="navbar navbar-dark bg-primary navbar-expand-md">
      <a class="navbar-brand" href="#">
        TTSW_TASK
      </a>

      <div class="collapse navbar-collapse" id="mainmenu" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
        <ul class="navbar-nav">

          <li class="nav-item">
            <a class="nav-link" routerLink="/login" >Zaloguj się/Zarejstruj.</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/showAllOffer/0/8/all/*/*/id,asc/unregisteredUser" >Zobacz wszystkie oferty.</a>
          </li>

        </ul>
      </div>
  </nav>

</header>

<app-footer></app-footer>