<app-home></app-home>

<br/>
<div class="mr-1 ml-1">
    <table class="table">
        <thead class="table-dark bg-secondary">
            <tr>
                <th>{{'ALL_OFFER_USER.ID'| translate}}</th>
                <th>{{'ALL_OFFER_USER.TITLE'| translate}}</th>
                <th>{{'ALL_OFFER_USER.DESCRIPTION'| translate}}</th>
                <th>{{'ALL_OFFER_USER.PRICE'| translate}}</th>
                <th>{{'ALL_OFFER_USER.ACTIVITY'| translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let offer of offers">
                <td>{{offer.id}}</td>
                <td><a routerLink="/detailOfferEdit/{{offer.id}}">{{offer.title}}</a></td>
                <td>{{offer.description}}</td>
                <td>{{offer.price}}</td>
                <td>{{offer.stateOffer}}</td>
            </tr>

        </tbody>
    </table>
</div>
