<header>
  <nav class="navbar navbar-dark bg-primary navbar-expand-md">
      <a class="navbar-brand" href="#">
        TTSW_TASK
      </a>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Przełącznik nawigacji" (click)="toggleCollapsed()">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="mainmenu" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
        <ul class="navbar-nav">

          <li class="nav-item dropdown">
            <a class={{dropMenuOne}} data-toggle="dropdown" role="button" aria-expanded="false" id="submenu" aria-haspopup="true" (click)="toggleDropMenu()"> {{loginUser}}</a>

            <div class={{dropMenuTwo}} aria-labelledby="submenu">
              <a class="dropdown-item" routerLink="/createOffer">{{'NAV.CREATE_OFFER' | translate}}</a>
              <a class="dropdown-item" routerLink="/showAllOffersUser">{{'NAV.EDIT_OFFERS' | translate}}</a>
              <a class="dropdown-item" routerLink={{allUserOffers}}>{{'NAV.SHOW_YOUR_OFFERS' | translate}}</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLink="/editUser">{{'NAV.EDIT_USER' | translate}}</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="logout()">{{'NAV.LOGOUT' | translate}}</a>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/showAllOffer/0/7/all/*/*/id,asc">{{'NAV.ACTUAL_OFFERS' | translate}}</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/showAllUsers/0/8/*/*/*/id,asc">{{linkToAllUsers | translate}}</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/showAllOffer/0/7/all/*/*/id,asc/admin" >{{linkToAllOffersAdmin | translate}}</a>
          </li>

        </ul>
      </div>
  </nav>

</header>

<app-footer></app-footer>