<app-home></app-home>

<br/> <br/>
<div class="panel panel-default col-lg-6 offset-lg-3">
  <div class="panel-heading">
    <h3 class="panel-title">Edytuj oferte</h3>
  </div>

  <div class="panel-body">
      <form [formGroup]="editOffer" #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)">
        <div class="form-group">
          <label for="title">Tytuł</label>
          <input  type="text" class="form-control" name="title" placeholder="Motocykl suzuki ..." formControlName="title">
          <span *ngIf="title!.invalid">Tytuł musi mieć od 3 do 50 znaków</span>
        </div>

        <div class="form-group">
          <label for="description">Opis</label>
          <textarea class="form-control" name="description" rows="3" placeholder="Przebieg 20000km, wymienione..." formControlName="description"></textarea>
          <span *ngIf="description!.invalid">Opis musi składać się od 15 do 400 znaków!</span>
        </div>

        <div class="form-group">
          <label for="price">Cena</label>
          <input type="number" class="form-control"  name="price" placeholder="12300" formControlName="price">
          <span *ngIf="price!.invalid">Cena musi być większa od 0!</span>
        </div>

        <button #editButton type="submit" class="btn btn-primary" [disabled]="!editOffer.valid">Edytuj</button>
      </form>
      <p #editOfferStatus style="text-align: center; color: red;"></p>
  </div>
</div>


  <br/> <br/>
  <div class="panel panel-default col-lg-6 offset-lg-3">
    <div class="panel-heading">
      <h3 class="panel-title">Aktywność oferty</h3>
    </div>

    <div class="panel-body"> 
      <p #offerStatus></p>
      <button #activityButton type="button" (click)="editActivity()" class="btn btn-primary">Zmień aktywność</button>
    </div>
  </div>

  <br/> <br/>